**Contents**

In [ ]:
'''
Part 1:-Introduction
Part 2:-Creating Objects
Part 3:-Viewing Data
Part 4:-Selection
Part 5:-Manipulating Data
Part 6:-Grouping Data
Part 7:-Merging,Joining and Concatenating
Part 8:-Working with Date and Time
Part 9:-Working with Text Data
Part 10:-Operations
Part 11:-Visualizations
Part 12:-Application and Projects
Part 13:-Miscellaneous
'''

**Part 1: - Introduction**

In [ ]:
'''
-->Pandas is a open source library.

-->it can be used for data manipulation.

-->it is well suited for tabular data such as spreadsheets or SQL tables.

--> its is built on top of the Numpy library which means that
a lot of structures of NumPy are used or replicated in Pandas.

Uses of Pandas:-

-->Data set cleaning , merging and joining.

-->Easy handling of missing data (represented as NaN) in floating
point as well as non-floating point data.

-->Columns can be inserted and deleted from DataFrame and higher
dimensional objects.

-->Powerful group by functionality for performing split apply
combine operations on data sts.

-->Data visulization.

'''

**Data Structures in Pandas Library**

In [ ]:
'''
Pandas Series

-->A Pandas Series in a one-dimensional labeled array capable of
holding data of any tupe(integer,string,float,Python objects etc.)
The axis labels are collectively called indexes.

-->The Pandas Series is nothing but a column in an Excel sheet.
Labels need not be unique but most be of a hashable type.

-->The object supports both integer and label-based indexing
and provides a host of methods for performing operations involving
the index.

'''

**Craeting a Series**

In [ ]:
'''
Pandas Series is created by loading the datasets from existing storage
(which can be a SQL database, a CSV file or an Excel file.)

Pandas Series can be created from lists, dictionaries , scalar values etc.

'''

import pandas as pd
import numpy as np

#Creating empty series

ser = pd.Series()
print("Pandas Series : ",ser)

#simple array

data=np.array(['g','e','e','k','s'])

ser=pd.Series(data)

print("Pandas Series:\n",ser)

Pandas Series :  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

**Creating DataFrame**

In [ ]:
'''
-->Pandas DataFrame is created by loading the datasets from
existing storage(which can be a SQL database, a CSV file,
or an Excel file.)

--> Pandas DataFrame can be created from lists,dictionaries,
a list of disctionaries etc.
'''

import pandas as pd

#Calling DataFrame constructor

df=pd.DataFrame()
print(df)

#list of strings

lst=['I','am','the','best','Data Scientist']

#calling DataFrame constructor on list
df=pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
                0
0               I
1              am
2             the
3            best
4  Data Scientist

**Part 2:-Creating Objects**

**Creating a Pandas DataFrame**

In [ ]:
import pandas as pd

#list of strings
lst=["Python","Machine Learning","Deep Learning","Generative AI"]

#calling a dataframe contstuctor on list
df=pd.DataFrame(lst)
print(df)

                  0
0            Python
1  Machine Learning
2     Deep Learning
3     Generative AI

**Creating DataFrame from dict of ndarray/lists**

In [ ]:
'''
-->To create DataFrame from dict on narray/list , all the narray must be of same
length. If index is passed then the length index should be equal to the length
arrays. If no index is passed , they by default, index with be range(n)
where n is the array length.
'''
import pandas as pd
#intialise data of lists

data={"Name":["Malav","Vatsal","Priyam","Deep"],
      "Age":[27,26,29,25]}

#create dataframe

df=pd.DataFrame(data)
print(df)

     Name  Age
0   Malav   27
1  Vatsal   26
2  Priyam   29
3    Deep   25

**Dealing with Rows and Columns**

In [ ]:
'''
-->A DataFrame is a 2-dimensional data structure i.e data is aligned in a tabular
fashion in rows and columns. We can perform basic operations on rows/columns like
selecting,deleting,adding and renaming.

Column Selection:-
In order to select a column in Pandas DataFrame we can either access the columns
by call them by their column names.

'''
import pandas as pd

#Define a dictionary containing column employee data

data={"Name": ["Malav",'Deep',"Keith","Charlyne"],
      "Age":[27,26,36,45],
      "Address":['Ahmedabad','Scarborough','Ottawa','North York'],
      'Qualification':['Msc','Diploma','Graduate','Degree']}

#craete a dataframe
df=pd.DataFrame(data)
print(df)

#Select 2 columns
print(df[['Age','Address']])

       Name  Age      Address Qualification
0     Malav   27    Ahmedabad           Msc
1      Deep   26  Scarborough       Diploma
2     Keith   36       Ottawa      Graduate
3  Charlyne   45   North York        Degree
   Age      Address
0   27    Ahmedabad
1   26  Scarborough
2   36       Ottawa
3   45   North York

**Row Selection**

In [ ]:
'''
-->Pandas provide a unique method to retrieve rows from a data frame.

-->DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame.

-->Rows can also be selected by passing integer location to an iloc[] function.

'''

'\n-->Pandas provide a unique method to retrieve rows from a data frame.\n\n-->DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame.\n\n-->Rows can also be selected by passing integer location to an iloc[] function.\n\n'

In [ ]:
import pandas as pd
import io
path="/content/nba.csv"

df=pd.read_csv(path)
print(df.head())

#malimg data frame from csv file.

##data=pd.read_csv(data,index_col="Name")

#retrieving row by loc method
#
first = df.loc[0]
second = df.loc[1]
print(first,'\n\n\n',second)

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0
Name         Avery Bradley
Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: 0, dtype: object


 Name           Jae Crowder
Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: 1, dtype: object

**Indexing and Selecting Data**

In [ ]:
'''
--> Indexing in pandas means simply seldcting particular rows and columns
of data from a DataFrame. Indexing could mean selecting all the rows and some
of the columns, some of the rows and all of the columns, or some of each of
the rows and columns. Indexing can also be knows as Subset Selection.

Indexing a DataFrame using indexing operator[]:

Indexing operator is used to refer to the square brackets following an object.
The .loc and .iloc indexers also use the indexing operator to make selections.
In this indexing operator to refer to df[].

'''

#Selecting a single column
import pandas as pd

#making data frame from csv file.

df=pd.read_csv(path)

#retrieving column by indexing operator.
first=df['Age']
print(first)

0      25.0
1      25.0
2      27.0
3      22.0
4      29.0
       ...
453    26.0
454    24.0
455    26.0
456    26.0
457     NaN
Name: Age, Length: 458, dtype: float64

**Indexing a DataFreame using .loc[] & .iloc[]**

In [ ]:
'''
-->The function selects data by the label of the tows and columns. The
df.loc indexer selects data in a different way than just the indexing operator.

it can select subsets of rows and columns. it can also simultaniously select
subsets of rows and columns.

'''

In [ ]:
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")
#without index_col='Name' it will through an error.

# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]


print(first, "\n\n\n", second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [ ]:
'''
.iloc[]
-->This function allows us retrieve rows and columns by positions. In order to
do that, we will need to specify the positions of the rows that we want and
the positions of the colhmns that we want as well.

--> The df.iloc[] inmdexer is very similar to .iloc[] but only uses integer
locations to make its selections.
'''

In [ ]:
#In order to select a singlw row using .iloc[] , we can pass a single integer
#.iloc[] function.

import pandas as pd

#making data frame from csv file.

data=pd.read_csv("nba.csv",index_col='Name')

#retrieving rows by iloc method
row2=data.iloc[3]
print(row2)

Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object