Set:-
--> set is an unordered collection of distinct hashable objects.
--> commonly used for membership testing, removing duplicate from a sequence and computing mathematical operations such as intersection, union, difference and symmetric difference.

set:- its a mutable contents can be changed using methods like add() and remove()

frozenset():-
this type of set is not mutable and its content cannot be altered after it is created.

it can be used as dictionary key or as an element of other set.

**Contents**

**create a text in python**

In [ ]:
setx=set()
print(setx)

set()

In [ ]:
n=set([0,1,2,3,4,5])
print(n)

{0, 1, 2, 3, 4, 5}

**Iteration over set**

In [ ]:
"""we can mover over each of the items in a set using a loop"""
n=set([0,1,2,3,4,5])

for i in n:
  print(i)

0
1
2
3
4
5

**Add numbers in Python set**

In [ ]:
#empty set

color_set=set()

#add a single member

color_set.add("Red")

print(color_set)

#add multiple items

color_set.update(["black","white"])
print(color_set)

{'Red'}
{'black', 'Red', 'white'}

**Remove item from set**

In [ ]:
n=set([0,1,2,3,4,5])
n.pop()
print(n)#wil remove 0

n.pop()
print(n)#will remove 1

#remove() function

n=set([0,1,2,3,4,5])
n.remove(0)
print(n)

#discard function

n=set([0,1,2,3,4,5])
n.discard(2)
print(n)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{1, 2, 3, 4, 5}
{0, 1, 3, 4, 5}

**Intersection of Set**

In [ ]:
setx=set(["white","black"])
sety=set(["black","blue"])

setz=setx&sety
print(setz)

{'black'}

**Union of sets**

In [ ]:
setx=set(["black","white"])
sety=set(["blue","red"])

setz=setx|sety
print(setz)

{'black', 'red', 'white', 'blue'}

**Set difference**

In [ ]:
setx=set(["black","white"])
sety=set(["white","red"])

setz=setx-sety
print(setz)#will print items which are not in setx

{'black'}

**Symmetric difference**

In [ ]:
setx=set(["black","white"])
sety=set(["white","red"])

setz=setx^sety
print(setz)#will not print common items from both sets

{'black', 'red'}

**Subset and Superset**

In [ ]:
setx=(["black","white"])
sety=(["white","red"])

issubset=setx<=sety
print(issubset)

issubset1=sety<=setx
print(issubset1)

issuperset=setx>=sety
print(issuperset)

setw=set(["black","white","blue","red"])
sety=set(["blue","red"])

issubset=setw<=sety
print(issubset)

issuperset=setw>=sety
print(issuperset)

True
False
False
False
True

**Shallow copy of sets**

In [ ]:
setx= set(["black","white"])

setz=setx.copy()
print(setz)

{'black', 'white'}

**Clear set**

In [ ]:
setx=set(["white","black","blue","red"])

sety=setx.clear()
print(sety)

None